* {
  margin: 0;
  padding: 0;
}
html,
body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.menu{
  height: 100%;
  width: 352px;
  display: inline-block;
  overflow: auto;
}
.img{
  position: relative;
  display: inline-block;
  height: 100%;
  width: calc(100% - 357px);
  margin-left: -4px;
}
 .img img{
   width: 100%;
 }
/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);*/
  -webkit-border-radius: 10px;
  background-color:#fff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background:#bdbdbd;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}