@media screen and (max-width: 1366px){
    body{
        min-width: 0 !important;
    }
    /*.wrapper{
        width: 951px !important;
        overflow: hidden;
    }*/
    #lifts{
        font-size: 14px;
    }
    /*.menu-wrapper{
        width: 400px !important;
    }*/
    .handy{
        height: 28px !important;
        background-position: center -55px !important;
    }
    .seat-outside{
        height: 31px !important;
        background-position: center -24px !important;
    }
    .seat-inside{
        background-position: center 4px !important;
        height: 31px !important;
    }
}