<left-menu #left_menu xmlns="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"></left-menu>
<div class="img">
  <svg xmlns="http://www.w3.org/2000/svg"
       width="16.4375in" height="9.27083in"
       viewBox="0 145 1790 880"
       id="mapSvg">
  <!--4-SLOPE-->
  <g id="mapItems" class="svg-pan-zoom_viewport">
    <image xlink:href="../../images/bg.jpg" x="0" y="0" height="100%" width="100%" id="mapImage" (click)="onMapClick()"/>
    <!--SLOPE-->
    <path id="Unnamed1"
          fill="none" stroke="red" stroke-width="4"
          d="M 918.75,406.75
           C 918.75,406.75 928.50,416.50 955.75,423.25
             961.00,424.00 1003.50,434.25 1007.00,435.75
             1016.75,436.75 1087.25,470.75 1089.50,471.50
             1091.25,472.25 1106.00,479.00 1134.50,484.50
             1165.00,492.12 1200.12,506.88 1201.12,507.25
             1202.12,507.62 1224.12,518.25 1277.88,532.25
             1282.38,533.25 1313.88,549.00 1354.62,565.25
             1364.38,568.62 1377.38,562.12 1410.88,573.75
             1415.38,574.50 1456.62,590.88 1462.25,591.62
             1463.12,591.12 1445.50,584.50 1434.25,570.00
             1427.88,557.00 1410.75,539.25 1411.38,536.38
             1410.25,528.25 1414.25,517.00 1403.12,508.88
             1417.55,503.91 1437.91,511.82 1457.75,506.50" (click)="openMenu($event, itemType.SLOPE)" />
    <circle cx="918.75" cy="406.75" r="5" fill="black" />
    <circle cx="1457.75" cy="506.50" r="5" fill="black" />
    <!--SLOPE-->

    <!--SLOPE-->
    <path id="Unnamed2"
          fill="none" stroke="red" stroke-width="4"
          d="M 898.12,390.00
           C 898.12,390.00 898.62,381.88 966.25,387.50
             966.88,387.75 1005.88,386.50 1011.38,388.50
             1040.25,393.38 1080.25,413.88 1105.25,417.50
             1106.88,418.12 1119.25,422.88 1145.88,416.75
             1176.38,415.62 1188.62,417.88 1229.25,423.12
             1252.75,422.75 1268.00,426.38 1288.88,436.75
             1306.62,442.75 1316.62,453.25 1364.50,447.25
             1374.88,447.88 1385.38,464.50 1427.38,465.12" (click)="openMenu($event, itemType.SLOPE)" />
    <circle cx="898.12" cy="390.00" r="5" fill="black" />
    <circle cx="1427.38" cy="465.12" r="5" fill="black" />
    <!--SLOPE-->

    <!--SLOPE-->
    <path id="Unnamed3"
          fill="none" stroke="red" stroke-width="4"
          d="M 764.00,564.50
           C 764.00,564.50 749.00,560.00 728.50,569.00
             705.00,579.25 695.25,585.00 676.75,587.75
             637.50,593.25 625.25,578.00 582.00,588.00
             551.50,595.75 489.75,621.00 466.00,621.75
             428.00,630.50 353.75,624.00 325.25,634.75
             297.50,644.25 271.75,650.25 159.00,708.50" (click)="openMenu($event, itemType.SLOPE)" />
    <circle cx="764.00" cy="564.50" r="5" fill="black" />
    <circle cx="159.75" cy="708.50" r="5" fill="black" />
    <!--SLOPE-->

    <!--LIFT-->
    <path id="8e4d9a0a-ccc7-4bf8-9944-4bdb81a0a88b"
          fill="none" stroke="blue" stroke-width="6"
          d="M 887.50,391.25
           C 887.50,391.25 1437.12,488.38 1437.12,488.38" (click)="openMenu($event, itemType.LIFT)" />
    <circle cx="887.50" cy="391.25" r="5" fill="black" />
    <circle cx="1437.12" cy="488.38" r="5" fill="black" />
    <image class="animated-marker" xlink:href="../../images/marker_blue.png" x="866.75" y="349.25" height="40px" width="40px" />
    <text x="882.62" y="367.88" fill="white">B</text>
    <!--LIFT-->

    <!--LIFT-->
    <path id="e05a3822-18cc-4fb4-b99a-c343fb5b6f4c"
          fill="none" stroke="blue" stroke-width="6"
          d="M 820.00,534.00
           C 820.00,534.00 697.00,563.75 697.00,563.75" (click)="openMenu($event, itemType.LIFT)" />
    <circle cx="820.00" cy="534.00" r="5" fill="black" />
    <circle cx="697.00" cy="563.75" r="5" fill="black" />
    <image class="animated-marker" xlink:href="../../images/marker_blue.png" x="676.00" y="520.75" height="40px" width="40px" />
    <text x="691.00" y="540.75" fill="white">D</text>
    <!--LIFT-->

    <!--LIFT-->
    <path id="479cfaa7-e819-4134-b437-3941f0af2451"
          fill="none" stroke="blue" stroke-width="6"
          d="M 827.88,525.25
           C 827.88,525.25 760.00,533.38 760.00,533.38" (click)="openMenu($event, itemType.LIFT)" />
    <circle cx="827.88" cy="525.25" r="5" fill="black" />
    <circle cx="760.00" cy="533.38" r="5" fill="black" />
    <image class="animated-marker" xlink:href="../../images/marker_blue.png" x="740.00" y="490.38" height="40px" width="40px" />
    <text x="755.00" y="510.38" fill="white">E</text>
    <!--LIFT-->

    <!--LIFT-->
    <g>
      <path id="d93bf681-75d4-4a96-903b-c446b66fa56b"
            fill="none" stroke="blue" stroke-width="6"
            d="M 1465.33,501.67
           C 1465.33,501.67 1487.00,597.67 1487.00,597.67" (click)="openMenu($event, itemType.LIFT)"/>
      <circle cx="1465.33" cy="501.67" r="5" fill="black" />
      <circle cx="1487.00" cy="597.67" r="5" fill="black" />
    </g>


    <image class="animated-marker" xlink:href="../../images/marker_blue.png" x="1445.25" y="460.25" height="40px" width="40px" />
    <text x="1459.25" y="478.25" fill="white">C</text>
    <!--LIFT-->

    <!--LIFT-->
    <path id="Unnamed4"
          fill="none" stroke="blue" stroke-width="6"
          d="M 768.25,571.25
           C 768.25,571.25 94.00,790.67 94.00,790.67" (click)="openMenu($event, itemType.LIFT)" />
    <circle cx="768.25" cy="571.25" r="5" fill="black" />
    <circle cx="94.00" cy="790.67" r="5" fill="black" />
    <image class="animated-marker" xlink:href="../../images/marker_blue.png" x="73.50" y="745.50" height="40px" width="40px" />
    <text x="89.50" y="765.50" fill="white">F</text>
    <!--LIFT-->

    <!--LIFT-->
    <image class="animated-marker" xlink:href="../../images/marker_blue.png" x="585.50" y="745.50" height="40px" width="40px" style="transform: rotate(-25deg);"/>
    <text x="865.50" y="436.25" fill="white">F</text>
    <path id="Unnamed5"
          fill="none" stroke="blue" stroke-width="6"
          d="M 896.00,411.25
           C 896.00,411.25 885.50,455.50 885.50,455.50" (click)="openMenu($event, itemType.LIFT)" />
    <circle cx="896.00" cy="411.25" r="5" fill="black" />
    <circle cx="885.50" cy="455.50" r="5" fill="black" />
    <!--LIFT-->

    <g id="marker" *ngIf="markerAdded">
      <image [attr.x]="elementCx - 20" [attr.y]="elementCy - 50" width="50px" height="50px" xlink:href="../../images/marker.png"/>
    </g>
</g>
</svg>
  <div class="controls">
    <div class="zoom-in-wrapper">
      <button id="zoom-in"><i class="fa fa-compress" aria-hidden="true"></i></button>
      <span id="zoom-in-description">Zoom in</span>
    </div>
    <div class="reset-wrapper">
      <button id="reset"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>
      <span id="reset-description">Reset</span>
    </div>
    <div class="zoom-out-wrapper">
      <button id="zoom-out"><i class="fa fa-expand" aria-hidden="true"></i></button>
      <span id="zoom-out-description">Zoom out</span>
    </div>
      <div class="sign-out-wrapper" *ngIf="user.isLoggedIn()">
          <button id="sign-out" class="sign-out" (click)="onLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
          <span id="sign-out-description">Sign out</span>
      </div>
  </div>
  <!--<img src="../../images/bg.jpg" alt=""/>-->
</div>
