svg{
    position: absolute;
    top:0;
}
svg:active{
    cursor: move;
}
path{
    cursor: pointer;
    pointer-events:all;
}
path:hover{
    stroke-width: 8px;
}
.path-highlight{
    animation: highlight 2s infinite;
}
.controls{
    position: absolute;
    right: 3px;
    padding: 5px;
}
.controls button{
    margin:0 auto;
    font-size: 20px;
    padding: 10px;
    padding-left: 11px;
    padding-right: 11px;
    border: 0px !important;
    outline: none;
    background: rgba(255, 255, 255, 0.55);
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    animation: opacity 1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.controls button:last-child{
    margin-right: 0px;
}
.controls button:active{
    background: rgba(128, 128, 128, 0.55);
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.u-explorer{
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    width: 80px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    display: block;
    margin-top: 15px;
}
#sign-out-description{
    margin-left: -100px;
}
#zoom-in-description{
    margin-left: 45px;
}
#zoom-out-description{
    margin-left: -50px;
}
#sign-out-description,
#zoom-out-description,
#zoom-in-description,
#reset-description{
    display: block;
    text-align: center;
    margin-top: 20px;
    background-color: #c5c1c3;
    padding: 5px;
    width: 80px;
    border-radius: 20px;
    opacity: 0;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.controls #zoom-in:hover + #zoom-in-description,
.controls #zoom-out:hover + #zoom-out-description,
.controls #reset:hover + #reset-description,
.controls .sign-out:hover + #sign-out-description{
    opacity: 1;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.zoom-in-wrapper,
.zoom-out-wrapper,
.reset-wrapper,
.sign-out-wrapper{
    display: inline-block;
    text-align: center;
    width: 45px;
}
.cursor-pointer{
    cursor: pointer;
}
@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes highlight {
    0%      {stroke-width: 4px;}
    25%     {stroke-width: 8px;}
    50%     {stroke-width: 12px;}
    75%     {stroke-width: 8px;}
    100%    {stroke-width: 4px;}
}

