<div class="menu">
<div class="menu-wrapper">
    <div class="menu-tabs">
        <tabs>
            <tab [tabTitle]="'Lifts'">
                <div class="" id="lifts">
                    <table>
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                        <tr *ngFor="let lift of myLifts">
                            <td><span class="skiruns-mark" [attr.id]="lift.id" (click)="getLiftModal($event)">{{lift.name}}</span></td>
                            <td>{{lift.liftStatusEntity.status}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab [tabTitle]="'Slopes'">
                <div class="" id="slopes">
                    <table>
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Length</th>
                        </tr>
                        <tr *ngFor="let slope of mySlopes">
                            <td><span class="skiruns-mark" [attr.id]="slope.id" (click)="getSlopeModal($event)">{{slope.name}}</span></td>
                            <td>{{slope.slopeStatusEntity.status}}</td>
                            <td>{{slope.length}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
        </tabs>
    </div>
</div>
    </div>