.menu-wrapper{
    float: left;
    display: inline-block;
    min-height: 100%;
    overflow: hidden;
    top:0;
    width: 352px;
}
.refresh-buttons{
    text-align: center;
    overflow: hidden;
}

.refresh-buttons i{
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;
    padding-left: 12px;
    padding-right: 12px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.refresh-buttons:hover i{
    transform: rotate(360deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.refresh-buttons button{
    border: 0px;
    background: transparent;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0;
    right: 15px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.refresh-buttons button:hover i{
    box-shadow: inset -4px 0px 32px 3px grey;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.modal {
    height: 100%;
    width: 352px;
    position: absolute;
    top: 0;
    word-break: break-all;
    z-index: 2;
}
.modal > .modal-img {
    position: relative;
    background: rgba(206, 205, 205, 1) url("/images/modal_img.png") center;
    height: 200px;
    z-index: 2;
    background-size: cover;
}
.modal > .modal-text{
    position: relative;
    height: 100%;
    background-color: rgba(206, 205, 205, 1);
    z-index: 2;
}
.modal ul{
    text-align: center;
    list-style: none;
    padding: 5px;
    font-family: Arial;
}
.modal ul span{
    display: block;
    padding-top: 5px;
    color: grey;
    font-size: 15px;
    padding-right: 5px;
}
.modal ul span:first-child{
    padding-top: 0px;
}
.modal ul li{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid;
    border-color: rgba(137, 128, 130, 0.29);
    border-bottom-right-radius: 1px;
    font-size: 15px;
}
.modal ul li:last-child{
    border-bottom: 0px;
}
.btn-close{
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 25px;
    opacity: 0.4;
    cursor: pointer;
}
.btn-expand--close{
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 45px;
    opacity: 0.4;
    cursor: pointer;
}
.btn-expand--open{
    display: block;
    font-size: 45px;
    margin-left: 10px;
    margin-right: 5px;
    display: block;
    transform: rotate(0deg);
}
.expand--open{
    position: absolute;
    right: -50px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    background: rgb(237, 237, 237);
    cursor: pointer;
}
.btn-close:hover,
.btn-close:active,
.btn-expand--close:hover,
.btn-expand--close:active{
    opacity: 1;
}
