<div class="modal" id="modal_window" *ngIf="modalOpened" (clickOutside)="closeModal()" [style.top.px]="elementY" [style.left.px]="elementX">
    <div class="arrow-left">
        <i class="fa fa-circle gps_ring" aria-hidden="true"></i>
    </div>
    <div class="modal-img">
        <span class="btn-close" (click)="closeModal()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
    </div>
    <div class="modal-text" >
        <ul *ngIf="mySlope">
            <span>Name</span><li>{{mySlope.name}}</li>
            <span>Status</span><li>{{mySlope.slopeStatusEntity.status}}</li>
            <span>Date</span><li>{{mySlope.slopeStatusEntity.date | date:"dd/MM/yyyy HH:mm"}}</li>
            <span>Difficulty</span><li>{{mySlope.difficulty}}</li>
            <span>Length</span><li>{{mySlope.length + 'M'}}</li>
        </ul>
        <ul *ngIf="myLift">
            <span>Name</span><li>{{myLift.name}}</li>
            <span>Type</span><li>{{myLift.type}}</li>
            <span>Location</span><li>{{myLift.location}}</li>
            <span>Status</span><li>{{myLift.liftStatusEntity.status}}</li>
            <span>Date</span><li>{{myLift.liftStatusEntity.date | date:"dd/MM/yyyy HH:mm"}}</li>

        </ul>
        <ul *ngIf="errorMessage">
            <span>Error!</span><li>No information received</li>
        </ul>
    </div>
</div>