.menu-items{
    list-style: none;
    height: 50px;
    background-color: #bdbdbd;
}
.menu-items li{
    display: inline-block;
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.menu-items li:hover{
    background-color: #eeeeee;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.menu-items li span{
    font-size: 20px;
}
.active{
    background-color: #eeeeee;
}